.booklist{
    display: flex;
    flex-direction:row-reverse;
    align-self: auto;
    flex-wrap: wrap-reverse;
    justify-content: center;
  
  &__cards{
    width: 20%;
    border-radius: 5px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0);
  
  }
  &__cards:hover{
    box-shadow: 2px 2px 10px black;
  }
  &__image img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  &__name{
    text-align: center;
    padding: 3px;
  }
  &__des{
    text-align: center;
    padding: 3px;
  }
}